/* Variáveis */
:root {
  --cor-primaria: #c72727;
  --cor-secundaria: #f99500;
  --cor-clara: #f3f3f3;
  --cor-escura: #333;
  --largura-maxima: 1100px;
}

.categoria {
  --cor-esporte: #f99500;
  --cor-ent: #a66bbe;
  --cor-tec: #009cff;
}

/* Resetando */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-clara);
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

a {
  color: var(--cor-escura);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utilidade */
.container {
  max-width: var(--largura-maxima);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* Navegação */
#barra-de-navegacao {
  background: var(--cor-clara);
  position: sticky;
  top: 0;
  z-index: 2;
}

#barra-de-navegacao .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#barra-de-navegacao .logo {
  width: 180px;
}

#barra-de-navegacao ul {
  justify-self: end;
  display: flex;
}

#barra-de-navegacao ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#barra-de-navegacao ul li a.atual {
  background: var(--cor-primaria);
  color: #fff;
}

#barra-de-navegacao ul li a:hover {
  background: var(--cor-clara);
  color: var(--cor-escura);
}

#barra-de-navegacao .social {
  justify-self: center;
}

#barra-de-navegacao .social i {
  color: #777;
  margin-right: 0.5rem;
}
